.page1Section {
  display: inline-block;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  padding: 100px 5% 5% 5%;
}

.page1Aside {
  display: inline-block;
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  padding: 100px 10% 5% 0;
}