#page-3 .container {
    display: flex;
    flex-direction: column;

    @media all and (min-width: 768px) {
        flex-flow: row nowrap;
    }

    section {
        width: 100%;

        .vignette {
            position: relative;
            margin: 0;
            height: 500px;
            margin-top: 50px;
            opacity: 0;
            transition: all 1.2s cubic-bezier(1, 0, 1, 0);

            @media all and (min-width: 768px) {
                height: 100%;
                margin-top: 0;
            }

            .card {
                position: absolute;
                width: 70%;
                height: 50%;
                top: 0;
                left: 15%;
                overflow: hidden;
                border-radius: 5px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .info {
                position: absolute;
                width: 90%;
                min-height: 60%;
                bottom: 10px;
                left: 5%;
                background-color: $background-color;
                border-radius: 5px;
                padding: 65px 10px 10px 10px;
                font-weight: lighter;

                @media all and (min-width: 768px) {
                    padding-top: 25%;
                }

                p {
                    text-align: justify;
                }
            }
        }

        .vignette-1 {
            transform: translateX(-100%);
        }

        .vignette-2 {
            transform: translateX(-200%);
        }

        .vignette-3 {
            transform: translateX(-300%);
        }
    }
}

#page-3.active .container {
    .vignette {
        opacity: 1;
        transform: translateX(0) !important;
        transition: all 1s cubic-bezier(0.7, 0, 0.7, 1);
    }
}