.ppNav {
  position: fixed;
  top: 50%;
  right: 40px;
  display: none;

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }

  li {
    width: 10px;
    height: 10px;
    padding: 20px 0;


    span {
      position: absolute;
      width: 10px;
      height: 10px;
      border: 1px solid black;
      border-radius: $ppnav-list-style-radius;
    }
  }

  li.active span {
    background-color: $ppnav-list-style-color;
  }
}

#pagePiling {
  background: $background-color;

  .ppPage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    background-size: cover;
    background-position: center;
    background-blend-mode: saturation;
    display: flex;
    justify-content: center;
  }

  .ppPage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: $background-color;
    opacity: $background-opacity;
    filter: grayscale(1);
  }

  .ppPage.popupBg::before {
    background: black url('../img/bg/espace.png') repeat;
  }

  .ppPage.active.popupBg::before {
    background: $background-color;
  }

  .popupActive {
    transform-origin: top center;
    transform: perspective(800px) rotate3d(1, 0, 0, -8deg) translate3d(0px, 0px, 0px) !important;
  }

  .container {
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding: 80px 20px 20px 20px;
    box-sizing: border-box;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      padding: 100px 50px 50px 50px;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      width: 1200px;
      margin: 0 auto;
    }
  }

  @for $page from 1 to ($pageNb +1) {
    .ppPage:nth-child(#{$page}) {
      background-image: url('../img/bg/' + $page + '.jpg');
    }
  }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  .background {
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    transition: opacity 1s;
  }

  .container {
    width: 100%;
    height: 100%;
    z-index: 1000;
    transform: translate3d(0, 0, 0);
    transition: all 2s cubic-bezier(0.550, 0.085, 0.000, 0.990);
    display: flex;
    flex-direction: column;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      height: 85vh;
      width: 80vw;
      margin-top: 10vh;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      width: 60vw;
    }

    .header {
      padding: 20px;
      background: #fff;
      display: flex;
      justify-content: space-between;

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .closeIcon {
        text-align: right;
        font-size: x-large;

        i {
          cursor: pointer;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    section {
      height: auto;
      padding: 20px;
      overflow-y: auto;
      background: #fff;
      flex: 1 auto;
    }

    .footer {
      display: none;
      background: #fff;

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) {
        display: block;
        height: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.popup.close {
  .background {
    z-index: 0;
    opacity: 0;
    transition: opacity 1s;
  }

  .container {
    transform: translate3d(0, 120vh, 0);
    transition: all 0.5s ease-in-out;

    .closeIcon {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }
}