.topMenu {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 990;
  width: 100%;
  padding: 10px 20px 0px 20px;
  box-sizing: border-box;
  padding: 1vh 2vh 0 2vh;
  overflow: hidden;
  color: $primary-color;
  font-size: 2vh;

  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 1s;

  .item {
    text-align: center;
  }

  // mainMenu Icon
  .mainMenuIcon {
    font-size: x-large;
    flex: 1 min-content;

    i {
      cursor: pointer;
    }
  }

  // Logo
  .logo {
    flex: 3 min-content;
    height: 40px;

    svg {
      max-width: 100%;
      max-height: 100%;
      transition: all 0.3s ease-out;
    }

    svg:hover path {
      fill: #000000;
    }
  }

  // Social links
  .socialLinks {
    flex: 2 min-content;

    ul {
      list-style: none;
    }

    li {
      display: inline;
      margin-right: 1vw;
      font-size: 3vh;
    }
  }

  // Search
  .search {
    flex: 2 min-content;
    display: none;

    input {
    }
  }

  a {
    color: $primary-color;

    &:hover {
      color: $primary-color-text;
    }
  }

  // Phone
  .phone {
    flex: 2 min-content;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }


  @media all and (min-width: 768px) {
    padding: 10px 50px 0px 50px;
    flex-flow: row nowrap;

    .item {
    }
    .mainMenuIcon {
      order: 1;
    }
    .search {
      display: block;
      order: 2;
    }
    .logo {
      order: 3;
      height: 70px;
    }
    .phone::before {
      display: none;
    }
    .phone {
      order: 4;
    }
    .socialLinks {
      order: 5;
    }
    .break {
      display: none;
    }

  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 1200px;
    margin: 0 auto;
  }
}

.topMenu.open {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition: all 1s;
}
