.topMenu {
  position: absolute;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  z-index: 990;
  width: 100%;
  height: 8vh;
  padding: 1vh 2vh 0 2vh;
  align-items: center;
  overflow: hidden;
  color: $primary-color;
  font-size: 2vh;

  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 1s;

  .item {
    text-align: center;
    flex: 1 100%;
  }

    @media all and (min-width: 600px) {
      .item {
        flex: 1 0 0;
      }
      .mainMenuIcon {
        order: 1;
      }
      .search {
        display: none;
      }
      .logo {
        order: 2;
      }
      .phone {
        order: 3;
      }
      .socialLinks {
        order: 4;
      }

    }


  // mainMenu Icon
  .mainMenuIcon {
    font-size: x-large;

    i {
      cursor: pointer;
    }
  }

  // Logo
  .logo {
    svg {
      height: 8vh;
      transition: all 0.3s ease-out;
    }

    svg:hover path {
      fill: #000000;
    }
  }

  // Social links
  .socialLinks {
    ul {
      list-style: none;
    }

    li {
      display: inline;
      margin-right: 1vw;
      font-size: 3vh;
    }
  }

  // Search
  .search {
    input {
    }
  }

  a {
    color: $primary-color;

    &:hover {
      color: $primary-color-text;
    }
  }
}

.topMenu.open {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition: all 1s;
}
