/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Import de la font "Open Sans" */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

/* ==========================================================================
   Header
   ========================================================================== */
header {
    background: url("../img/bg-header.jpg") no-repeat center;
}

.header {
    height: 180px;
    line-height: 180px;
}

.header img {
    height: 90px;
}

header a {
    text-decoration: none;
    color: #fff;
}

/* ==========================================================================
   Header Nav
   ========================================================================== */
header nav {
    width: 100%;
    height: 50px;
    background: #999374;
}

header nav div.container>div {
    width: 100%;
    display: flex;
}

header nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header nav li {
    display: inline;
}

header nav a {
    display: inline-block;
    line-height: 50px;
    text-decoration: none;
    text-align: left;
    color: #fff;
    background: #999374;
}

header nav a:hover {
    color: #DCDCDC;
    text-decoration: underline;
    text-shadow: 0px 0px 10px black;
}

header nav div.container div ul:first-child li {
    margin-right: 30px;
}

header nav div.container div ul:last-child {
    padding-left: 10px;
    margin-left: auto;
    font-size: 30px;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer-image {
    width: 100%;
    height: 300px;
    background: url("../img/bg-home.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.footer-map {
    height: 300px;
}

.footer-menu {
    background: #999374;
}

.footer-menu,
.footer-menu a {
    color: #fff;
    text-decoration: none;
}

.footer-menu ul {
    padding-inline-start: 0;
}

.footer-menu li {
    list-style: none;
}

.footer-menu h2 {
    font-size: 24px;
}

.footer-menu .container {
    display: flex;
    height: 300px;
    background: url("../img/bg-footer.png") no-repeat right;
    background-size: auto 280px;
}

.footer-menu div.container div {
    padding-right: 50px;
    margin: auto 0;
}

/* ==========================================================================
   Main Section (General params)
   ========================================================================== */
main .container {
    display: flex;
    margin: 20px auto;
}

main section {
    width: 70%;
}

main h1,
main h2 {
    color: #999374;
}

main h1 {
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #999374;
    font-size: xx-large;
    font-weight: lighter;
}

main h2 {
    font-size: x-large;
    font-weight: lighter;
}


/* ==========================================================================
   Section - Index
   ========================================================================== */
main section p:first-child {
    font-size: large;
}

main section p {
    font-size: small;
}


/* ==========================================================================
   Section - Le Domaine
   ========================================================================== */
.section-nav {
    margin-top: 20px;
    margin-bottom: 40px;
}

main div .btn {
    width: 120px;
    height: 40px;
    margin-right: 20px;
    font-size: 0;
    display: inline-block;
}

.section-nav div.btn:last-child {
    margin-right: 0;
}

main button {
    position: absolute;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background: #999374;
    border: 0;
    border-radius: 4px;
    outline: none;
    -webkit-filter: sepia(0);
    filter: sepia(0);
    transition: 1s ease-in-out;
}

main button svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

main button:hover {
    -webkit-filter: sepia(1);
    filter: sepia(1);
    transition: 1s ease-in-out;
}

main button:hover svg {
    stroke-dashoffset: -480;
}

main button span {
    color: white;
    font-size: 18px;
    font-weight: 100;
    margin: 0 auto;
}

.article-photos {
    width: 100%;
    display: flex;
    font-size: 0;
}

article {
    margin-bottom: 50px;
    font-size: 14px;
}

.article-photos div {
    width: 33.333%;
}

.article-photos img {
    width: 100%;
}


/* ==========================================================================
   Section - Gallery with Fancybox (JQuery)
   ========================================================================== */
.gallery {
    font-size: 0;
    margin-top: 30px;
}

.gallery img {
    width: 48%;
    border: 1px solid #999374;
    margin: 1%;
}

.fancybox-progress {
    background: #999374 !important;
}


/* ==========================================================================
   Section - Contact
   ========================================================================== */
.section-contact {
    width: 100%;
    margin-top: 40px;
    display: flex;
}

.section-address {
    width: 50%;
    line-height: 35px;
}

.section-form {
    width: 50%;
}

.section-form div {
    margin-bottom: 20px;
}

.section-form input,
.section-form textarea {
    width: 100%;
    height: 34px;
    font-size: 12px;
    line-height: 24px;
    padding: 5px;
    font-weight: bold;
    color: #757575;
    background: #CCC;
    border: none;
    border-radius: 3px;
}

.section-form textarea {
    resize: both;
    min-width: 100%;
    min-height: 100px;
    max-width: 100%;
}


/* ==========================================================================
   Aside
   ========================================================================== */
aside {
    width: 30%;
    padding: 82px 0 0 30px;
    color: #999374;
}

aside figure {
    width: 100%;
    margin-bottom: 30px;
}

.figure-img {
    overflow: hidden;
    border: 2px solid #999374;
}

aside figure img {
    width: 100%;
    height: 140px;
    -webkit-filter: sepia(0);
    filter: sepia(0);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

aside figure:hover img {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

aside figcaption {
    margin-top: 5px;
}

aside p {
    font-size: 12px;
}

figure {
    margin-inline-start: 0px;
}

/* ==========================================================================
   Reading progress
   ========================================================================== */
.hrtop .progress {
    width: 100%;
    height: 5px;
    z-index: 1000;
    position: fixed;
    top: 0;
    background: #999374;
    transition: width .25s cubic-bezier(0.43, 0.16, 0.25, 1);
}