$primary-color: #c4aa4f;
$primary-color-text: black;

// pagePiling
$background-color: #fff;
$background-opacity: 0.8;
$ppnav-list-style-color: $primary-color;
$ppnav-list-style-radius: 0%;

// mainMenu
$mainMenu-background-color: #fff;